#DIV_1B {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 45px;
    overflow-wrap: break-word;
    position: relative;
    width: 730px;
    word-wrap: break-word;
    perspective-origin: 365px 22.5px;
    transform-origin: 365px 22.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 10px;
}/*#DIV_1B*/

#DIV_1B:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1B:after*/

#DIV_1B:before {
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1B:before*/

#A_2 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: right;
    height: 34px;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 68.34375px;
    word-wrap: break-word;
    perspective-origin: 34.171875px 17px;
    transform-origin: 34.171875px 17px;
    background: rgb(96, 176, 68) linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68)) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(92, 169, 65);
    border-radius: 3px 3px 3px 3px;
    font: normal normal bold normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 0px 15px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 7px 12px;
}/*#A_2*/

#SPAN_3 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: -1px;
    white-space: nowrap;
    width: 12px;
    word-wrap: break-word;
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_3*/

#SPAN_3:before {
    color: rgb(255, 255, 255);
    cursor: pointer;
    overflow-wrap: break-word;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    white-space: nowrap;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_3:before*/

#UL_4 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 19px;
    overflow-wrap: break-word;
    width: 289.515625px;
    word-wrap: break-word;
    perspective-origin: 144.75px 9.5px;
    transform-origin: 144.75px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_4*/

#LI_5 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 19px;
    overflow-wrap: break-word;
    position: relative;
    width: 43.546875px;
    word-wrap: break-word;
    perspective-origin: 21.765625px 9.5px;
    transform-origin: 21.765625px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_5*/

#A_6 {
    box-sizing: border-box;
    color: rgb(65, 131, 196);
    display: inline-block;
    height: 19px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 43.546875px;
    word-wrap: break-word;
    perspective-origin: 21.765625px 9.5px;
    transform-origin: 21.765625px 9.5px;
    border: 0px none rgb(65, 131, 196);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(65, 131, 196) none 0px;
}/*#A_6*/

#LI_7 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 19px;
    overflow-wrap: break-word;
    position: relative;
    width: 35px;
    word-wrap: break-word;
    perspective-origin: 17.5px 9.5px;
    transform-origin: 17.5px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_7*/

// #A_8 {
//     box-sizing: border-box;
//     color: rgb(65, 131, 196);
//     display: inline-block;
//     height: 19px;
//     overflow-wrap: break-word;
//     text-align: left;
//     text-decoration: none;
//     width: 35px;
//     word-wrap: break-word;
//     perspective-origin: 17.5px 9.5px;
//     transform-origin: 17.5px 9.5px;
//     border: 0px none rgb(65, 131, 196);
//     font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
//     list-style: none outside none;
//     outline: rgb(65, 131, 196) none 0px;
// }/*#A_8*/

#LI_9A {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 19px;
    overflow-wrap: break-word;
    position: relative;
    width: 51.359375px;
    word-wrap: break-word;
    perspective-origin: 25.671875px 9.5px;
    transform-origin: 25.671875px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_9A*/

#A_10A {
    box-sizing: border-box;
    color: rgb(65, 131, 196);
    display: inline-block;
    height: 19px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 51.359375px;
    word-wrap: break-word;
    perspective-origin: 25.671875px 9.5px;
    transform-origin: 25.671875px 9.5px;
    border: 0px none rgb(65, 131, 196);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(65, 131, 196) none 0px;
}/*#A_10A*/

#LI_11 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 19px;
    overflow-wrap: break-word;
    position: relative;
    width: 43.578125px;
    word-wrap: break-word;
    perspective-origin: 21.78125px 9.5px;
    transform-origin: 21.78125px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_11*/

#A_12 {
    box-sizing: border-box;
    color: rgb(65, 131, 196);
    display: inline-block;
    height: 19px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 43.578125px;
    word-wrap: break-word;
    perspective-origin: 21.78125px 9.5px;
    transform-origin: 21.78125px 9.5px;
    border: 0px none rgb(65, 131, 196);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(65, 131, 196) none 0px;
}/*#A_12*/

#LI_13 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 19px;
    overflow-wrap: break-word;
    position: relative;
    width: 38.140625px;
    word-wrap: break-word;
    perspective-origin: 19.0625px 9.5px;
    transform-origin: 19.0625px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_13*/

.A_14 {
    box-sizing: border-box;
    color: rgb(65, 131, 196);
    display: inline-block;
    height: 19px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 38.140625px;
    word-wrap: break-word;
    perspective-origin: 19.0625px 9.5px;
    transform-origin: 19.0625px 9.5px;
    border: 0px none rgb(65, 131, 196);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(65, 131, 196) none 0px;
}/*#A_14*/

#LI_15 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 19px;
    overflow-wrap: break-word;
    position: relative;
    width: 17.890625px;
    word-wrap: break-word;
    perspective-origin: 8.9375px 9.5px;
    transform-origin: 8.9375px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_15*/

#A_16 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline-block;
    height: 19px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 17.890625px;
    word-wrap: break-word;
    perspective-origin: 8.9375px 9.5px;
    transform-origin: 8.9375px 9.5px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal bold normal 14px/19.6000003814697px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_16*/

#FORM_17 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#FORM_17*/

#INPUT_18 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#INPUT_18*/

#INPUT_19 {
    background-position: 100% 50%;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px 0px inset;
    color: rgb(51, 51, 51);
    height: 34px;
    min-height: 34px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 260px;
    word-wrap: break-word;
    perspective-origin: 130px 17px;
    transform-origin: 130px 17px;
    background: rgb(255, 255, 255) none no-repeat scroll 100% 50% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 7px 8px;
}/*#INPUT_19*/

#INPUT_20 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 34px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 69.375px;
    word-wrap: break-word;
    align-items: flex-start;
    perspective-origin: 34.6875px 17px;
    transform-origin: 34.6875px 17px;
    background: rgb(238, 238, 238) linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 3px 3px 3px 3px;
    font: normal normal bold normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 7px 12px;
}/*#INPUT_20*/
