#DIV_1C {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 49px;
    min-width: 1000px;
    overflow-wrap: break-word;
    width: 1040px;
    word-wrap: break-word;
    perspective-origin: 520px 24.5px;
    transform-origin: 520px 24.5px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(229, 229, 229);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 0px;
}/*#DIV_1C*/

#DIV_2C {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 28px;
    overflow-wrap: break-word;
    width: 980px;
    word-wrap: break-word;
    perspective-origin: 490px 14px;
    transform-origin: 490px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 30px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2C*/

#DIV_2C:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2C:after*/

#DIV_2C:before {
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2C:before*/

#A_3 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    text-decoration: none;
    white-space: nowrap;
    width: 28px;
    word-wrap: break-word;
    perspective-origin: 14px 14px;
    transform-origin: 14px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 10px 0px -2px;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_3*/

#SPAN_4C {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    white-space: nowrap;
    width: 28px;
    word-wrap: break-word;
    perspective-origin: 14px 14px;
    transform-origin: 14px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 28px/28px octicons;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_4C*/

#SPAN_4C:before {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    white-space: nowrap;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 28px/28px octicons;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_4C:before*/

#DIV_5 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    width: 370px;
    word-wrap: break-word;
    perspective-origin: 185px 14px;
    transform-origin: 185px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_5*/

#FORM_6 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    width: 360px;
    word-wrap: break-word;
    perspective-origin: 180px 14px;
    transform-origin: 180px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#FORM_6*/

#DIV_7 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_7*/

#INPUT_8 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#INPUT_8*/

#INPUT_9 {
    background-position: 100% 50%;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px 0px inset;
    color: rgb(51, 51, 51);
    height: 28px;
    min-height: 28px;
    overflow-wrap: break-word;
    position: relative;
    vertical-align: middle;
    width: 360px;
    word-wrap: break-word;
    perspective-origin: 180px 14px;
    transform-origin: 180px 14px;
    background: rgb(255, 255, 255) none no-repeat scroll 100% 50% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 12px/16.7999992370605px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 20px 4px 8px;
}/*#INPUT_9*/

#DIV_10 {
    bottom: 3px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: none;
    height: auto;
    left: 3px;
    overflow-wrap: break-word;
    position: absolute;
    top: 3px;
    width: auto;
    word-wrap: break-word;
    z-index: 10;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(119, 119, 119);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px/16.7999992370605px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(119, 119, 119) none 0px;
    padding: 3px 6px;
    transition: all 0.1s ease-in-out 0s;
}/*#DIV_10*/

#UL_11 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    width: 194.046875px;
    word-wrap: break-word;
    perspective-origin: 97.015625px 14px;
    transform-origin: 97.015625px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_11*/

#LI_12C {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    width: 63.6875px;
    word-wrap: break-word;
    perspective-origin: 31.84375px 14px;
    transform-origin: 31.84375px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_12C*/

#A_13C {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    height: 28px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 63.6875px;
    word-wrap: break-word;
    perspective-origin: 31.84375px 14px;
    transform-origin: 31.84375px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#A_13C*/

#LI_14 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    width: 41.296875px;
    word-wrap: break-word;
    perspective-origin: 20.640625px 14px;
    transform-origin: 20.640625px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_14*/

#A_15 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    height: 28px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 41.296875px;
    word-wrap: break-word;
    perspective-origin: 20.640625px 14px;
    transform-origin: 20.640625px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#A_15*/

#LI_16 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    width: 44.890625px;
    word-wrap: break-word;
    perspective-origin: 22.4375px 14px;
    transform-origin: 22.4375px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_16*/

#A_17 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    height: 28px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 44.890625px;
    word-wrap: break-word;
    perspective-origin: 22.4375px 14px;
    transform-origin: 22.4375px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#A_17*/

#LI_18 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    width: 44.171875px;
    word-wrap: break-word;
    perspective-origin: 22.078125px 14px;
    transform-origin: 22.078125px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_18*/

#A_19 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    height: 28px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 44.171875px;
    word-wrap: break-word;
    perspective-origin: 22.078125px 14px;
    transform-origin: 22.078125px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#A_19*/

#UL_20 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 28px;
    overflow-wrap: break-word;
    width: 235.75px;
    word-wrap: break-word;
    perspective-origin: 117.875px 14px;
    transform-origin: 117.875px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px -8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_20*/

#LI_21 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    width: 93.75px;
    word-wrap: break-word;
    perspective-origin: 46.875px 14px;
    transform-origin: 46.875px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_21*/

#A_22 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    width: 93.75px;
    word-wrap: break-word;
    perspective-origin: 46.875px 14px;
    transform-origin: 46.875px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#A_22*/

#IMG_23 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 20px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 20px;
    word-wrap: break-word;
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    border: 0px none rgb(51, 51, 51);
    border-radius: 3px 3px 3px 3px;
    font: normal normal bold normal 13px/13px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px 5px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#IMG_23*/

#SPAN_24 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-align: left;
    white-space: nowrap;
    word-wrap: break-word;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_24*/

#SPAN_25 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 20px;
    max-width: 125px;
    overflow-wrap: break-word;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 52.75px;
    word-wrap: break-word;
    perspective-origin: 26.375px 10px;
    transform-origin: 26.375px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#SPAN_25*/

#LI_26 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    width: 40px;
    word-wrap: break-word;
    perspective-origin: 20px 14px;
    transform-origin: 20px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_26*/

#A_27 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 40px;
    word-wrap: break-word;
    perspective-origin: 20px 14px;
    transform-origin: 20px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#A_27*/

#A_27:after {
    color: rgb(255, 255, 255);
    display: none;
    height: 28px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 707px;
    white-space: pre;
    width: 40px;
    word-wrap: break-word;
    z-index: 1000000;
    align-self: stretch;
    perspective-origin: 20px 14px;
    transform-origin: 20px 14px;
    content: 'Create new...';
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 11px/16.5px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 8px;
}/*#A_27:after*/

#A_27:before {
    bottom: -5px;
    color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 28px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 20px;
    text-align: left;
    width: 40px;
    word-wrap: break-word;
    z-index: 1000001;
    align-self: stretch;
    perspective-origin: 20px 14px;
    transform-origin: 20px 14px;
    content: '';
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
    border-left: 5px solid rgba(0, 0, 0, 0);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px -5px 0px 0px;
    outline: rgba(0, 0, 0, 0.8) none 0px;
}/*#A_27:before*/

#SPAN_28 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 18px;
    overflow-wrap: break-word;
    text-align: center;
    width: 16px;
    word-wrap: break-word;
    perspective-origin: 8px 9px;
    transform-origin: 8px 9px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 18px/18px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_28*/

#SPAN_28:before {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 18px/18px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_28:before*/

#SPAN_29 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 8px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: -2px;
    width: 8px;
    word-wrap: break-word;
    perspective-origin: 4px 4px;
    transform-origin: 4px 4px;
    content: '';
    border-top: 4px solid rgb(51, 51, 51);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_29*/

#DIV_30 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    overflow-wrap: break-word;
    text-align: left;
    width: auto;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_30*/

#UL_31 {
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 12px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: auto;
    left: 50%;
    overflow-wrap: break-word;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 160px;
    word-wrap: break-word;
    z-index: 100;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 2px 0px 0px -80px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 0px;
}/*#UL_31*/

#UL_31:after {
    color: rgb(51, 51, 51);
    display: block;
    height: auto;
    left: 73px;
    overflow-wrap: break-word;
    position: absolute;
    text-align: left;
    top: -14px;
    width: auto;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    content: '';
    border-top: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 7px solid rgb(255, 255, 255);
    border-left: 7px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#UL_31:after*/

#UL_31:before {
    color: rgb(51, 51, 51);
    display: block;
    height: auto;
    left: 72px;
    overflow-wrap: break-word;
    position: absolute;
    text-align: left;
    top: -16px;
    width: auto;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    content: '';
    border-top: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, 0.14902);
    border-left: 8px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#UL_31:before*/

#LI_32, #LI_35 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_32, #LI_35*/

#A_33, #A_36 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 4px 10px 4px 38px;
}/*#A_33, #A_36*/

#SPAN_34 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 18px;
    opacity: 0.5;
    overflow-wrap: break-word;
    text-align: center;
    white-space: nowrap;
    width: 18px;
    word-wrap: break-word;
    z-index: 0;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    list-style: none outside none;
    margin: 1px 0px 0px -23px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_34*/

#SPAN_34:before {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_34:before*/

#SPAN_37 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 18px;
    opacity: 0.5;
    overflow-wrap: break-word;
    text-align: center;
    white-space: nowrap;
    width: 18px;
    word-wrap: break-word;
    z-index: 0;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    list-style: none outside none;
    margin: 1px 0px 0px -23px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_37*/

#SPAN_37:before {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_37:before*/

#LI_38, #LI_42, #LI_45 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 28px;
    overflow-wrap: break-word;
    width: 34px;
    word-wrap: break-word;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_38, #LI_42, #LI_45*/

#A_39 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 34px;
    word-wrap: break-word;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#A_39*/

#A_39:after {
    color: rgb(255, 255, 255);
    display: none;
    height: 28px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 17px;
    text-align: center;
    top: 707px;
    white-space: pre;
    width: 34px;
    word-wrap: break-word;
    z-index: 1000000;
    align-self: stretch;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    content: 'You have no unread notifications';
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 11px/16.5px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 8px;
}/*#A_39:after*/

#A_39:before {
    bottom: -5px;
    color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 28px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 17px;
    text-align: left;
    width: 34px;
    word-wrap: break-word;
    z-index: 1000001;
    align-self: stretch;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    content: '';
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
    border-left: 5px solid rgba(0, 0, 0, 0);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px -5px 0px 0px;
    outline: rgba(0, 0, 0, 0.8) none 0px;
}/*#A_39:before*/

#SPAN_40 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: none;
    height: 14px;
    overflow-wrap: break-word;
    position: absolute;
    right: 2px;
    text-align: center;
    top: -2px;
    width: 14px;
    word-wrap: break-word;
    z-index: 2;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(65, 131, 196) linear-gradient(rgb(123, 169, 214), rgb(65, 131, 196)) repeat-x scroll 0% 0% / auto padding-box padding-box;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 50% 50% 50% 50%;
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_40*/

#SPAN_41 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 18px;
    overflow-wrap: break-word;
    text-align: center;
    width: 18px;
    word-wrap: break-word;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px/20px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_41*/

#SPAN_41:before {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px/20px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_41:before*/

#A_43 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 34px;
    word-wrap: break-word;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#A_43*/

#A_43:after {
    color: rgb(255, 255, 255);
    display: none;
    height: 28px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 17px;
    text-align: center;
    top: 707px;
    white-space: pre;
    width: 34px;
    word-wrap: break-word;
    z-index: 1000000;
    align-self: stretch;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    content: 'Settings';
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 11px/16.5px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 8px;
}/*#A_43:after*/

#A_43:before {
    bottom: -5px;
    color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 28px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 17px;
    text-align: left;
    width: 34px;
    word-wrap: break-word;
    z-index: 1000001;
    align-self: stretch;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    content: '';
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
    border-left: 5px solid rgba(0, 0, 0, 0);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px -5px 0px 0px;
    outline: rgba(0, 0, 0, 0.8) none 0px;
}/*#A_43:before*/

#SPAN_44 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 18px;
    overflow-wrap: break-word;
    text-align: center;
    width: 18px;
    word-wrap: break-word;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_44*/

#SPAN_44:before {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_44:before*/

#FORM_46 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 28px;
    overflow-wrap: break-word;
    text-align: left;
    width: 34px;
    word-wrap: break-word;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#FORM_46*/

#DIV_47 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    overflow-wrap: break-word;
    text-align: left;
    width: auto;
    word-wrap: break-word;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_47*/

#INPUT_48, #INPUT_49 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#INPUT_48, #INPUT_49*/

#BUTTON_50 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 28px;
    min-height: 0px;
    overflow-wrap: break-word;
    position: relative;
    width: 34px;
    word-wrap: break-word;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 4px 8px;
}/*#BUTTON_50*/

#BUTTON_50:after {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    height: 28px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 17px;
    top: 707px;
    white-space: pre;
    width: 34px;
    word-wrap: break-word;
    z-index: 1000000;
    align-self: stretch;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    content: 'Sign out';
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 11px/16.5px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 8px;
}/*#BUTTON_50:after*/

#BUTTON_50:before {
    bottom: -5px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: none;
    height: 28px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 17px;
    width: 34px;
    word-wrap: break-word;
    z-index: 1000001;
    align-self: stretch;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    content: '';
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
    border-left: 5px solid rgba(0, 0, 0, 0);
    font: normal normal bold normal 13px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    list-style: none outside none;
    margin: 0px -5px 0px 0px;
    outline: rgba(0, 0, 0, 0.8) none 0px;
}/*#BUTTON_50:before*/

#SPAN_51 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 18px;
    overflow-wrap: break-word;
    text-align: center;
    width: 18px;
    word-wrap: break-word;
    align-self: flex-start;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 2px 0px 0px;
}/*#SPAN_51*/

#SPAN_51:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_51:before*/
