#DIV_1A {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 36px;
    overflow-wrap: break-word;
    position: relative;
    width: 730px;
    word-wrap: break-word;
    perspective-origin: 365px 18px;
    transform-origin: 365px 18px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1A*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 26px;
    overflow-wrap: break-word;
    position: relative;
    width: 107.5px;
    word-wrap: break-word;
    perspective-origin: 53.75px 13px;
    transform-origin: 53.75px 13px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2*/

#A_3 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 26px;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 0px;
    vertical-align: top;
    white-space: nowrap;
    width: 107.5px;
    word-wrap: break-word;
    perspective-origin: 53.75px 13px;
    transform-origin: 53.75px 13px;
    background: rgb(238, 238, 238) linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 3px 3px 3px 3px;
    font: normal normal bold normal 13px/24px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 10px;
}/*#A_3*/

#SPAN_4B {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 0px;
    vertical-align: -1px;
    white-space: nowrap;
    width: 14px;
    word-wrap: break-word;
    perspective-origin: 7px 8px;
    transform-origin: 7px 8px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_4B*/

#SPAN_4B:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    overflow-wrap: break-word;
    text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 0px;
    white-space: nowrap;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_4B:before*/

#UL_5 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 35px;
    overflow-wrap: break-word;
    width: 380.03125px;
    word-wrap: break-word;
    perspective-origin: 190.015625px 17.5px;
    transform-origin: 190.015625px 17.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_5*/

#LI_6 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 36px;
    overflow-wrap: break-word;
    width: 126.390625px;
    word-wrap: break-word;
    perspective-origin: 63.1875px 18px;
    transform-origin: 63.1875px 18px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_6*/

#A_7 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 36px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 126.390625px;
    word-wrap: break-word;
    perspective-origin: 63.1875px 18px;
    transform-origin: 63.1875px 18px;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 1px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 14px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(102, 102, 102) none 0px;
    padding: 8px 12px 7px;
}/*#A_7*/

#SPAN_8 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 14px;
    word-wrap: break-word;
    perspective-origin: 7px 8px;
    transform-origin: 7px 8px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_8*/

#SPAN_8:before {
    color: rgb(102, 102, 102);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_8:before*/

#LI_9 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 36px;
    overflow-wrap: break-word;
    width: 119.703125px;
    word-wrap: break-word;
    perspective-origin: 59.84375px 18px;
    transform-origin: 59.84375px 18px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_9*/

#A_10 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 36px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 119.703125px;
    word-wrap: break-word;
    perspective-origin: 59.84375px 18px;
    transform-origin: 59.84375px 18px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 0px none rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-radius: 3px 3px 0 0;
    font: normal normal normal normal 14px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 8px 12px 7px;
}/*#A_10*/

#SPAN_11 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 12px;
    word-wrap: break-word;
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_11*/

#SPAN_11:before {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_11:before*/

#LI_12 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 36px;
    overflow-wrap: break-word;
    width: 126.703125px;
    word-wrap: break-word;
    perspective-origin: 63.34375px 18px;
    transform-origin: 63.34375px 18px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_12*/

#A_13 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 36px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    width: 126.703125px;
    word-wrap: break-word;
    perspective-origin: 63.34375px 18px;
    transform-origin: 63.34375px 18px;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 1px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 14px/20px Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(102, 102, 102) none 0px;
    padding: 8px 12px 7px;
}/*#A_13*/

#SPAN_14 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 12px;
    word-wrap: break-word;
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_14*/

#SPAN_14:before {
    color: rgb(102, 102, 102);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_14:before*/
